<footer class="footer">
<small>
This <a href= "https://github.com/KvngJamesNG"> Blog Website </a> by <a href= "https://www.linkedin.com/in/adesina-adewale-570782199/"> Adewale Adesina</a>
<small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact Me", contact_path %></li>
<li><a href= "https://www.linkedin.com/in/adesina-adewale-570782199/"> News </a></li>
</ul>
</nav>
</footer>
     